# Sets

- unordered | mutable | no duplicates | known as hash table
- indexing is not possible in sets

In [4]:
 # defining an empty set
emp_set=set()
print(emp_set)
print(type(emp_set))

set()
<class 'set'>

In [5]:
# curly braces for set
emp_set={"Ananyaa","V R"}
emp_set

{'Ananyaa', 'V R'}

In [6]:
type(emp_set)

set

In [7]:
# inbuilt functions
emp_set.add("AI & DS")
emp_set

{'AI & DS', 'Ananyaa', 'V R'}

In [10]:
set1={"Ironman","Avengers","Hulk"}
set2={"Ironman","Avengers","Spiderman","Harry Potter"}
set1.difference(set2) # after eliminating the lements in set1 only the remaining set1 is executed

{'Hulk'}

In [11]:
set1 #so here after differnce it gives all elements

{'Avengers', 'Hulk', 'Ironman'}

In [12]:
set1.difference_update(set2) #here after deleting it updates and clears all the elements in set1 that has been subtracted and
#stores only the remaining element

In [13]:
set1 #so here only hulk is displayed

{'Hulk'}

In [14]:
set1.add("Avengers")
set1.add("Ironman")
set1

{'Avengers', 'Hulk', 'Ironman'}

In [16]:
set1.intersection(set2)
set1

{'Avengers', 'Hulk', 'Ironman'}

In [17]:
set1.intersection(set2)

{'Avengers', 'Ironman'}

In [18]:
set1.intersection_update(set2)

In [19]:
set1

{'Avengers', 'Ironman'}

In [20]:
set2

{'Avengers', 'Harry Potter', 'Ironman', 'Spiderman'}

# Dictionaries

- unordered | changeable | indexed | curly braces | keys and values

In [21]:
dic={}

In [22]:
type(dic)

dict

In [23]:
dic={1,2,3}

In [24]:
dic

{1, 2, 3}

In [25]:
type(dic)

set

In [26]:
my_dict={1:"A",2:"n",3:"A"}

In [27]:
my_dict

{1: 'A', 2: 'n', 3: 'A'}

In [29]:
type(dict())

dict

In [30]:
type(my_dict)

dict

In [33]:
my_dict[2] #access the elements using keys

'n'

In [34]:
# for loop using keys

In [35]:
for x in my_dict:
    print(x)

1
2
3

In [36]:
#for loop for values

In [37]:
for x in my_dict.values():
    print(x)

A
n
A

In [38]:
#both keys and values

In [39]:
for x in my_dict.items():
    print(x)

(1, 'A')
(2, 'n')
(3, 'A')

In [40]:
my_dict[4]="A"
my_dict

{1: 'A', 2: 'n', 3: 'A', 4: 'A'}

In [41]:
my_dict[1]="changed" #updates the key elemetn with new value if entered new values with the existing key
my_dict

{1: 'changed', 2: 'n', 3: 'A', 4: 'A'}

# Nested Dictionaries

In [48]:
car1_model={"Mercedes":1960}
car2_model={'Audi' :1970}
car3_model={'Ambassador' : 1980}
car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [52]:
car_type['car1'] # access one element

{'Mercedes': 1960}

In [54]:
car_type['car1']['Mercedes'] #access  value of nested dict

1960

# Tuples
 - immutable

In [55]:
# create a tuple
tup=tuple()

In [56]:
type(tup)

tuple

In [59]:
my_tuple=("Krish", "Ankur", "John")
my_tuple[0]

'Krish'

In [60]:
my_tuple[0]="change"

TypeError: 'tuple' object does not support item assignment

In [61]:
#the above error is due to that tuples are immutable

In [62]:
my_tuple=("Ananyaa","Changed","Tuple")
my_tuple

('Ananyaa', 'Changed', 'Tuple')

In [63]:
#so the enitre tuple can be changed into another but cannot be changed indexing wise

In [65]:
my_tuple.count("Ananyaa")

1

In [68]:
my_tuple.index("Tuple")

2